@using Dar_e_Arqam_pwd_isb.Models
@model NewsUpdt

<p class="form_msgs"> All fields are required. </p>

<div class="req_form_area">

@using (Html.BeginForm("create", "newsandupdates", FormMethod.Post, new { enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()
<div class="_forms_label_n_input_normal_div">
<div class="_forms_label_div"><label for="Name" > Title Or Headline : </label></div>
<div class="_forms_input_div"> @Html.TextBoxFor(m => m.Name) </div>
</div>

<div class="_forms_label_n_input_normal_div">        
<div class="_forms_label_div"><label for="Detail" > Detail of News Or Update : </label></div>
<div class="_forms_textarea_div"> @Html.TextAreaFor(m => m.Detail, new { style = "height:200px;" }) </div>
</div>

<div class="_forms_label_n_input_normal_div">    
<div class="_forms_label_div"><label for="Picture" > Relevant Picture :</label></div>
<div class="_forms_input_div"> @Html.TextBoxFor(m => m.Picture, new { type="file" }) </div>
</div>
      
}

</div>