<!DOCTYPE html>
<html >
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>  @ViewBag.Title</title>

<script src="~/web_contents/js/jquery.1.8.2.min.js"></script>
<script src="~/web_contents/js/jquery.onebyone.min.js"></script>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $('#banner').oneByOne({
            className: 'oneByOne1',
            easeType: 'random',
            slideShow: true
        });
    });
</script>
    <link href="/web_contents/images_/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
<link href='http://fonts.googleapis.com/css?family=Raleway:100,200,300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
<link href="~/web_contents/css/style.css" rel="stylesheet" type="text/css" />
<link href="~/web_contents/css/reponsive_.css" media="screen and (max-width: 1366px)" rel="stylesheet" />
<link href="~/web_contents/css/reponsive_0.css" media="screen and (max-width: 1024px)" rel="stylesheet" />
<link href="~/web_contents/css/animate.css" rel="stylesheet" />
<link href="~/web_contents/css/animate_2.css" rel="stylesheet" />
<link href="~/web_contents/css/camera.css"  rel="stylesheet" type="text/css"/>
<script src="~/web_contents/js/respond.src.js"></script>


    @*<link href="~/web_contents/css/style.css" rel="stylesheet" />
    <link href="~/web_contents/css/jsCarousel-2.0.0.css" rel="stylesheet" />
    <link href="~/web_contents/css/tabs.css" rel="stylesheet" />
    <link href="~/web_contents/css/jquery.fancybox.css?v=2.1.5" rel="stylesheet" />*@
</head>
<body>
<!--<div class="loader"><div class="ring"><div class="spin"></div></div></div>-->
<!----------main body div start-----onload="hide_preloader()"----->
<div class="main_body" >

<!----------header div start---------->
<div class="header">

<div class="top_bar">

<div class="top_bar_left">

<div class="top_bar_contact_info">

<p>
<span class="top_bar_contact_info_email"> Admin@darearqamschoolpwdisb.edu.pk </span> 
<span class="top_bar_contact_info_phone"> +92-51-5958853 </span> 
</p> 

</div>

</div>

<div class="top_bar_right">

<div class="top_bar_social"> 

<ul>
<li><a href="###" class="pe">pe</a></li>
<li><a href="###" class="gp">gp</a></li>
<li><a href="###" class="vm">vm</a></li>
<li><a href="https://twitter.com/I_am_arqam" class="tt">tt</a></li>
<li><a href="http://pk.linkedin.com/pub/i-am-arqam/60/831/207/" class="li">li</a></li>
<li><a href="https://www.facebook.com/idarearqampwdisb" class="fb">fb</a></li>
</ul>

</div>



</div>
</div>

<div class="logo_n_top_main_menu">

<div class="logo_n_top_main_menu_inner">

<div class="logo"><img src="~/web_contents/images_/logo.png" /></div>

<div class="top_main_menu">

<ul class="logo_right_menu">

<li class="home"><a href="/web/index">Home</a></li>

<li class="about-us"><a href="/web/aboutus">About Us</a></li>

<li class="admission"><a href="/web/admission">Admission</a></li>

<li class="academia"><a href="/web/Academic">Academia</a></li>

<li class="news"><a href="/web/news">News</a></li>

<li class="explore"><a href="/web/exploreus">Explore Us</a></li>

<li class="contact"><a href="/web/contactus">Contact</a></li>

</ul>

</div>

</div>

</div>

</div>

<!----------header div end---------->


    @RenderBody()


<!-- footer started -->

<div class="footer">
<div class="footer-inner">
<div class="footer-about-us">
<div class="footer-about-us-h"><h2>Shortly Introduction About Us</h2></div>
<div class="footer-about-us-p"><p>Being submissive and humble to the will of Almighty ALLAH, we relate this institution to the very first educational centre of Islam, “Dar-e-Arqam” established at Hazrat Arqam Bin Arqam’s house in the plains of Koh-e-Safa by Hazrat Muhammad (S.A.W). The Prophet Muhammad (S.A.W) gets his believers gathered in a small house and laid the foundation of rich civilization that produced marvelous blessings and countless human role models. Contrary to the present Soulless system of education based on aimless, materialistic and secular approach, the edifice of Dar-e-Arqam System of education is constructed with the bricks, stones and cement of Faith, Sincerity and Sublime Aims and is beautified with active modern scientific ideas about education to equip the innocent saplings of the future tree, with the latest branches of learning so that they can converse with the  . . . . . . . . .</p></div>
<div class="footer-about-us-l"><a href="/web/overview"> Read More </a></div>
<div class="clear"></div>
</div>


<div class="footer-links">
<div class="footer-links-h"><h2>Most Visited Links</h2></div>
<div class="footer-links-a">
<a href="/web/admission"> Online Admission </a>
<a href="/web/aboutus"> About Us </a>
<a href="/web/message"> Books </a>
<a href="/web/message"> Curriculum </a>
<a href="/web/results"> Results </a>
<a href="/web/news"> News & Updates </a>
<a href="/web/message"> Login </a>
<a href="/web/message"> Upcoming Events </a>
<a href="/web/message"> Events Gallery </a>
</div>
<div class="clear"></div>
</div>



<div class="footer-contact-us">
<div class="footer-contact-us-h"><h2>Contact Us</h2></div>
<div class="footer-contact-us-t">
<b class="our_location"> Our Location </b>
<p> A-17-18 Main Double Road, Pak PWD Housing Society, Islamabad </p>
<b class="contact_info"> Contact Info </b>
<p> +92-51-5958853 , <br /> +92-346-5342206 </p>
<b class="our_mailbox"> Our Mailbox </b>
<p> arqam_pwdisb@yahoo.com , <br /> admin@das-pwdisb.com.pk </p>




</div>
</div>


<div class="clear"></div>
</div>
</div>
<!--footer ends here -->

<!--copyright text stars here -->
<div class="copyright-text">
<div class="copyright-text-inner"><p>Copyright © 2014 Dar-e-Arqam Schools Pwd Housing Society Islamabad. All Rights Reserved.</p></div>
</div>
<!--copyright text ends here -->

</div>
<!----------main body div end---------->
</body>
</html>

<script src="~/web_contents/js/jquery.themepunch.showbizpro.min.js"></script>
<script src="~/web_contents/js/appear.js"></script>
<script src='~/web_contents/js/camera.js'></script>
<script src="~/web_contents/js/jquery.easing.min.js"></script>
<script src="~/web_contents/js/ss-gizmo.js"></script>
<script src="~/web_contents/js/custom.js"></script>

