@{
    ViewBag.Title = "Aboutus";
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}

<div class="page_title_of_webpages">
<div class="page_title_of_webpages_inner">
<div class="title_of_webpages">
<h2>About Us</h2>
</div>
</div>
</div>


<div class="page_contents_handleer_outer">
    <div class="page_contents_handleer_inner">

    <div class="blocks_of_sub_pages_contents_">
        <a href="/web/overview">
        <div class="blocks_of_sub_pages_contents_icon_">
            <img src="~/web_contents/images/overview_i.png" />
        </div>

        <div class="blocks_of_sub_pages_contents_heading_">
            <h2>Overview</h2>
        </div>
            </a>
    </div>

    <div class="blocks_of_sub_pages_contents_">
        <a href="/web/management">
        <div class="blocks_of_sub_pages_contents_icon_">
            <img src="~/web_contents/images/management_i.png" />
        </div>

        <div class="blocks_of_sub_pages_contents_heading_">
            <h2>Management</h2>
        </div>
            </a>
    </div>

    <div class="blocks_of_sub_pages_contents_">
        <a href="/web/faqs">
        <div class="blocks_of_sub_pages_contents_icon_">
            <img src="~/web_contents/images/faqs_i.png" />
        </div>

        <div class="blocks_of_sub_pages_contents_heading_">
            <h2>FAQ's</h2>
        </div>
            </a>
    </div>

    <div class="blocks_of_sub_pages_contents_">
        <a href="/web/messages">
        <div class="blocks_of_sub_pages_contents_icon_">
            <img src="~/web_contents/images/messages_i.png" />
        </div>

        <div class="blocks_of_sub_pages_contents_heading_">
            <h2>Messages</h2>
        </div>
            </a>
    </div>

<div class="clear"></div>

    </div>

    </div>
