@{
    ViewBag.Title = "Uniforms";
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}

<div class="page_title_of_webpages">
<div class="page_title_of_webpages_inner">
<div class="title_of_webpages">
<h2>Uniforms</h2>
</div>
</div>
</div>


<div class="page_contents_handleer_outer">
    <div class="page_contents_handleer_inner">

    <div class="blocks_of_sub_pages_contents_">
        <a href="/web/overview">
        <div class="blocks_of_sub_pages_contents_icon_">
            <img src="~/web_contents/images/boy.png" />
        </div>

        <div class="blocks_of_sub_pages_contents_heading_">
            <h2>Boys Uniform</h2>
        </div>
            </a>
    </div>

    <div class="blocks_of_sub_pages_contents_">
        <a href="/web/overview">
        <div class="blocks_of_sub_pages_contents_icon_">
            <img src="~/web_contents/images/girl.png" />
        </div>

        <div class="blocks_of_sub_pages_contents_heading_">
            <h2>Girls Uniform</h2>
        </div>
            </a>
    </div>

<div class="clear"></div>

    </div>

    </div>
